<% if @type == nil %>
  <h1>商品一覧</h1>
<% else %>
  <%= @type.name %>一覧
<% end %>

(全<%= @active_products.count %>件)

<% @products.each do |product| %>

<%= image_tag item.get_image(100,100) %>
<%= item.name %>
¥<%= item.nontaxed_price.to_s(:delimited) %>

<% end %>
