<div class="container mt-5">
  <div class="row">
    <div class="col-md-10">
      
<h2><% if @type == nil %>
  <strong>商品一覧</strong>
<% else %>
  <%= @type.name %>一覧
<% end %>

(全<%= @active_products.count %>件)</h2>

<% @products.each do |product| %>
<%= link_to product_path do %>
  <%= image_tag item.get_image(100,100) %><br>
  <%= item.name %><br>
  ¥<%= item.nontaxed_price.to_s(:delimited) %>
<% end %>
<% end %>

<div class="mt-5"><%= paginate @products %></div>

    </div>
  </div>
</div>