<div class="container">
  <div class="row pt-5">
    <div class="col-md-2">
      <%= render "public/homes/type", types: @types %>
    </div>
  
    <div class="col-9">
      <div class="mainvisual">
        <div class="col-7 mx-auto my-5 mainvisual-text">
          <p>ようこそ、ながのCAKEへ！</p>
          <p>このサイトは、ケーキ販売のECサイトになります。</p>
          <p>会員でない方も商品の閲覧はできますが、</p>
          <p>購入には会員登録が必要になります。</p>
        </div>
    </div>
      <h2>新着商品</h2>
      <div class=flex_box>
      <!--新着順-->
      <% @products.each.with_index(1) do |product, i| %>
      <%= link_to product_path(product.id) do %>
      <p><%= image_tag product.get_profile_image(200,200) %></p>
      <!--商品名-->
      <p><%= product.name %></p>
      <!--価格-->
      <p><%= product.nontaxed_price %></p>
      </div>
      <% end %>
      <% end %>
  
      <div class="text-right mt-4">
      <%= link_to "すべての商品を見る>", products_path %>
      </div>
    
    </div>
  </div>
</div>
