<div class = "container py-5 ">
  <div class = "row">
    <div class = "col-lg-3">
      <h5 class = "bg-dark text-light text-center">注文履歴詳細</h5>
    </div>
  </div>
   <div class = "row">
   <h4><table>
    <thead>
        <tr>
         <th>購入者</th>
         <td><%= @order.customer.full_name %></td>
        </tr>
        <tr>
         <th>注文日</th>
         <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
         <th>配送先</th>
         <td><%= @order.postal_code %><%= @order.address %></td>
         <td><%= @order.name %></td>
        </tr>
        <tr>
         <th>支払方法</th>
         <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
         <th>注文ステータス</th>
         <%# urlをupdate後に指定した方がsubmitのルートがわかりやすい%>
         <td><%= form_with model: @order, url: admin_order do |f| %>
         <%#Order.statusesでorderモデルのstatusカラムを複数呼び出すためにsutatusesにする、invertで数字に付随した文字を日本語化%>
         <%= f.select :status, Order.statuses_i18n.invert,include_blank: "--選択して下さい--" %>
          <% end %>
         </td>
        </tr>
     </thead>
   </table></h4>
  <%#特定の注文データの中の注文履歴を全部持ってくる%>
  <% @order.product_orders.all.each do |product_order| %>
  <%# 制作ステータス（ProductOrderの中のカラムmaking_status）の更新%>
    <%= form_with model: product_order, url: admin_product_order_path do |f| %>
    <%= f.select :making_status, ProductOrder.making_statuses_i18n.invert,include_blank: "--選択して下さい--" %>
    <% end %>
  <% end %>
</div>