<div class="container py-5 ">
  <div class="row">
    <div class="col-lg-3">
      <h5 class="bg-dark text-light text-center">注文履歴詳細</h5>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>購入者</th>
        <td><%= @order.name %></td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order.created_at.strftime("%y-%m-%d") %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td><%= @order.postal_code %><%= @order.address %></td>
        <td><%= @order.name %></td>
      </tr>
    </thead>
  </table>
</div>