<div class='container'>
  <div class="row pt-5">
    <div class="col-lg-3">
      <h5 class="bg-dark text-light text-center">商品詳細</h5>
    </div>
  </div>
  <div class="row">
    <%= image_tag @product.get_profile_image(400, 200) %>
    <div class="col-sm-12 col-md-8 col-lg-5 px-sm-0 mx-auto">
      <table class='table'>
        <tr>
          <th>商品名</th>
          <th><%= @product.name %></th>
        </tr>
        <tr>
          <th>商品説明</th>
          <th><%= @product.introduction %></th>
        </tr>
        <tr>
          <th>ジャンル</th>
          <th><%= @product.type.name %></th>
        </tr>
        <tr>
          <th>税込価格(税抜価格)</th>
          <th><%= @product.add_tax_taxed_price.to_s(:delimited) %>(<%= @product.nontaxed_price %>)円</th>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <th>
            <% if @product.is_active == false %>
              <span class="text-success">販売中</span>
            <% else %>
              <span class="text-secondary">販売停止中</span>
            <% end %>
          </th>
        </tr>
        <tr>
          <th>
            <%= link_to "編集する",edit_admin_product_path(@product),class: 'btn btn-outline-success btn-lg' %>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>