<h4>注文履歴詳細</h4>

<h6>注文情報</h6>
<table class="table-bordered">
  <tr>
    <td>注文日</td>
    <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
  </tr>
  <tr>
    <td>配送先</td>
    <td><%= @order.address %></td>
  </tr>
  <tr>
    <td>支払方法</td>
    <td><%= @order.payment_method_i18n %></td>
  </tr>
  <tr>
    <td>ステータス</td>
    <td><%= @order.status_i18n %></td>
  </tr>
</table>

<h6>請求情報</h6>
<table class="table-bordered">
  <tr>
    <td>商品合計</td>
    <td>¥<%= @order.total_amount.to_s(:delimited) %></td>
  </tr>
  <tr>
    <td>配送料</td>
    <td>¥800</td>
  </tr>
  <tr>
    <th>ご請求額</th>
    <td>¥<%= (@order.total_amount + 800).to_s(:delimited) %></td>
  </tr>
</table>

<h6>注文内容</h6>
<table class="table-bordered">
  <thead>
    <tr>
      <td>商品</td>
      <td>単価</td>
      <td>個数</td>
      <td>小計</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

